* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff9642;
  padding: 50px;
}

h1 {
  color: white;
  font-size: 45px;
  font-weight: 100;
}

form {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 50px;
}

input {
  padding: 20px;
  height: 50px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  font-size: 20px;
  color: #ff9642;
}

::placeholder {
  color: rgba(255, 151, 66, 0.5);
}

button {
  padding: 10px 15px;
  border: 1px white solid;
  background: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: all 0.25s ease-in-out;
}

button:hover {
  background-color: white;
  color: #ff9642;
}

.input-error,
.invalid-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  background-color: tomato;
  padding: 70px;
  color: white;
  font-size: 40px;
}

.input-error {
  display: none;
}

.invalid-code {
  display: none;
}

.show {
  display: block;
}

li {
  list-style: none;
  font-size: 25px;
  color: white;
}
