* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 100;
}

section {
  padding: 20px;
  background-color: #162447;
  height: 600px;
  width: 400px;

  display: flex;
}

section > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.strengther {
  height: 100%;
  width: 20px;
  background-color: white;
  margin-right: 20px;
  position: relative;
}

.strengther::after {
 /*  --strength-amount: 10; */
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #127681;
  width: 100%;
  height: calc(1% * var(--strength-amount, 0));
  transition: all 0.25s ease;
}

input {
  outline: none;
  border: none;
  height: 60px;
  width: 300px;
  padding: 20px 10px;
  font-size: 20px;
  margin-bottom: 30px;
}

.password-check p {
  color: white;
  margin: 15px;
  font-size: 15px;
}
